body {
  background-color: #f2efeb;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #5a48ad;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}
header h1 p {
  text-align: center;
  font-size: 12px;
  line-height: 0.5;
  color: #272044;
}

form {
  padding: 30px;
  background-color: #f2efeb;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  background: #dae5e8;
  border: none;
  border-radius: 50px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.submit-button {
  margin-left: 10px;
  background-color: #b0e1f8;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  color: #5a48ad;
}
.poem {
  text-align: right;
  font-size: 14px;
  background-color: #f1f5f6;
  padding: 20px;
  line-height: 24px;
  border-right: 6px solid #dae5e8;
}

footer {
  text-align: center;
  font-size: 12px;
  line-height: 0.5;
  color: #272044;
}
