body {
  background-color: #f2efeb;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #5a48ad;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}
header h1 p {
  text-align: center;
  font-size: 12px;
  line-height: 0.5;
  color: #272044;
}
form-container {
  margin-bottom: 30px;
  padding: 30px;
  background-color: #f2efeb;
  border-radius: 10px;
}
form {
  display: flex;
}

.hint {
  margin: 12px 12px;
  font-size: 12px;
  line-height: 0.5;
  color: #272044;
  opacity: 0.5;
}

.hidden {
  display: none;
}

.instructions {
  background: #dae5e8;
  border: none;
  border-radius: 50px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.submit-button {
  margin-left: 10px;
  background-color: #b0e1f8;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  color: #5a48ad;
}
.joke {
  text-align: right;
  font-size: 14px;
  background-color: #f1f5f6;
  padding: 20px;
  line-height: 24px;
  border-right: 4px solid #dae5e8;
  margin-top: 30px;
}

footer {
  margin-top: 120px;
  text-align: center;
  font-size: 12px;
  line-height: 0.5;
  color: #272044;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
